<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headers"></th:block>
    <title>Admin Users Page</title>
</head>
<body>
<h1>Вы находитесь в окне администратора: Пользователи</h1>
<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">Назад</a>
    <a class="navbar-brand" href="/">Главная</a>
</nav>
<div id="app">

    <form v-on:submit.prevent="findUsers">
        <input type="number" v-model="id" name="id" placeholder="ID"/>
        <input type="number" v-model="personality" name="personality" placeholder="ID Личного дела"/>
        <input type="text" v-model="username" name="username" placeholder="Username"/>
        <label>
            <input type="checkbox" v-model="role_user" value="true" name="ROLE_USER"/>ROLE_USER
        </label>
        <label>
            <input type="checkbox" v-model="role_admin" value="true" name="ROLE_ADMIN"/>ROLE_ADMIN
        </label>
        <input type="submit" class="btn btn-primary findUsers" value="Найти">
    </form>

    <table class="table table-bordered">
        <thead>
        <th scope="col">ID</th>
        <th scope="col">ID Личного дела</th>
        <th scope="col">Логин</th>
        <th scope="col">Роли</th>
        <th scope="col"></th>
        </thead>
        <tbody>
        <tr v-for="user in this.users">
            <td>{{user.id}}</td>
            <td>{{user.personality}}</td>
            <td>{{user.username}}</td>
            <td >
                <h5 v-for="role in user.roles">{{role}}</h5>
            </td>
            <td>
                <form v-on:submit.prevent="showUser(user)">
                    <input type="submit" class="btn btn-primary showUser" value="Подробнее">
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script>
    window.app = new Vue({
        el: '#app',
        data: {
            id: null,
            personality: null,
            username:'',
            role_user:'',
            role_admin:'',
            deleted:'',
            users: []
        },
        async mounted(){
            await this.getUsers()
        },
        methods: {
            getUsers: function (event){
                axios.get('/admin/allUsers')
                    .then(response=>{
                        this.users = response.data
                        console.log(this.users)
                    })
            },
            findUsers: function (event) {
                console.log(this.role_user)
                console.log(this.nullCheck(this.role_user))
                console.log(this.personality)
                axios.post('/admin/filterUsers',{
                    "id": this.id,
                    "personality": this.personality,
                    "username": this.username,
                    "roleUser": this.nullCheck(this.role_user),
                    "roleAdmin": this.nullCheck(this.role_admin)
                })
                    .then(response=>{
                        this.users = response.data
                    })
            },
            nullCheck: function (cat){
                if (cat === null || cat ===false) return ""
                else return cat
            },
            showUser: function (user) {
                location.href = `/admin/personalities/${user.personality}`
            }
        }
    })
</script>
</body>
</html>