<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headers"></th:block>
    <title>Admin Page</title>
</head>
<body>
    <h1>Вы находитесь в окне администратора</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Главная</a>
        <a class="navbar-brand" href="/admin/personalities">Личные дела</a>
        <a class="navbar-brand" href="/admin/users">Пользователи</a>
        <a class="navbar-brand" href="/admin/teachers">Преподаватели</a>
        <a class="navbar-brand" href="/admin/students">Студенты</a>
        <a class="navbar-brand" href="/admin/groups">Группы</a>
        <a class="navbar-brand" href="/admin/subjects">Предметы</a>
        <a class="navbar-brand" href="/admin/events">Лекции и оцениваемые работы</a>
        <a class="navbar-brand" href="/actuator">Actuator</a>
    </nav>
</body>
</html>