<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headers"></th:block>
    <title>Admin Subject By Group Page</title>
</head>
<body>
<h1>Вы находитесь в окне администратора: Предметы</h1>
<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin/subjects">Назад</a>
    <a class="navbar-brand" href="/">Главная</a>
</nav>
<div id="app">

    <h2>Предмет: {{subject.name}} | Группа {{group.name}}</h2>

    <h3>Лекции</h3>
    <div v-for="lesson in this.lessons">

        <table class="table table-bordered">
            <thead>
                <th scope="col">ID лекции</th>
                <th scope="col">Название лекции</th>
            </thead>
            <tbody>
                <td>{{lesson.id}}</td>
                <td>{{lesson.name}}</td>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <th scope="col">ID студента</th>
                <th scope="col">Номер студенческого билета</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Отметка</th>
                <th scope="col"></th>
            </thead>
            <tbody>
            <tr v-for="student in students">
                <td>{{student.id}}</td>
                <td>{{student.studentCardId}}</td>
                <td>{{student.personality.secondName}}</td>
                <td>{{student.personality.firstName}}</td>
                <td>{{student.personality.middleName}}</td>

                <td v-for="attendance in attendances[0]" v-if="attendance.student == student.id && attendance.lesson == lesson.id">
                    <label>
                        <input type="text" v-model="attendance_mark" name="attendance_mark" :placeholder="attendance.attendanceMark" />
                    </label>
                </td>
                <td>
                    <form v-on:submit.prevent="findAttendanceByLessonAndStudent(lesson, student)">
                        <input type="submit" class="btn btn-warning findAttendanceByLessonAndStudent" value="Редактировать"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <h3>Оцениваемые работы</h3>
    <div v-for="checkpoint in this.checkpoints">

        <table class="table table-bordered">
            <thead>
            <th scope="col">ID работы</th>
            <th scope="col">Название работы</th>
            </thead>
            <tbody>
            <td>{{checkpoint.id}}</td>
            <td>{{checkpoint.name}}</td>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <th scope="col">ID студента</th>
                <th scope="col">Номер студенческого билета</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Оценка</th>
                <th scope="col"></th>
            </thead>
            <tbody>
            <tr v-for="student in students">
                <td>{{student.id}}</td>
                <td>{{student.studentCardId}}</td>
                <td>{{student.personality.secondName}}</td>
                <td>{{student.personality.firstName}}</td>
                <td>{{student.personality.middleName}}</td>

                <td v-for="score in scores[0]" v-if="score.student == student.id && score.checkpoint == checkpoint.id">
                    <label>
                        <input type="text" v-model="score_mark" name="score_mark" :placeholder="score.scoreMark" />
                    </label>
                </td>
                <td>
                    <form v-on:submit.prevent="findScoreByLessonAndStudent(checkpoint, student)">
                        <input type="submit" class="btn btn-warning findScoreByLessonAndStudent" value="Редактировать"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>
<script>
    window.app = new Vue({
        el: '#app',
        data: {
            group_id: window.location.href.split("/").slice(-1)[0],
            subject_id: window.location.href.split("/").slice(-3)[0],

            lessons: [],
            checkpoints: [],
            students: [],
            scores:[],
            attendances:[],

            group: null,
            subject: null,

            attendance_mark:'',
            score_mark:''
        },
        async mounted(){
            await this.getGroup()
            await this.getSubject()
        },
        methods: {
            getGroup: function (event){
                axios.get(`/admin/group/${this.group_id}`)
                    .then(response=>{
                        this.group = response.data
                        console.log("group", this.group)

                        this.getStudents()
                    })
            },
            getStudents: function (event){
                axios.get(`/admin/group/${this.group_id}/students`)
                    .then(response=>{
                        this.students = response.data

                        this.getPersonalities()
                    })
            },
            getPersonalities: function (event){
                for (let student of this.students)
                    axios.get(`/admin/personality/${student.personality}`)
                        .then(response=>{
                            student.personality = response.data
                        })
                console.log("students", this.students)
            },
            getSubject: function (event){
                axios.get(`/admin/subject/${this.subject_id}`)
                    .then(response=>{
                        this.subject = response.data
                        console.log("subject", this.subject)

                        this.getEvents()
                    })
            },
            getEvents: function (event) {
                this.getLessons()
                this.getCheckpoints()
            },
            getLessons: function (){
                for (let lesson of this.subject.lessons)
                    axios.get(`/admin/lesson/${lesson}`)
                        .then(response=>{
                            this.lessons.push(response.data)

                        })
                console.log("lessons", this.lessons)

                this.getAttendance()
            },
            getCheckpoints: function (){
                for (let checkpoint of this.subject.checkpoints)
                    axios.get(`/admin/checkpoint/${checkpoint}`)
                        .then(response=>{
                            this.checkpoints.push(response.data)

                        })
                console.log("checkpoints", this.checkpoints)


                for (let checkpoint of this.checkpoints)
                    for (let scoreId of checkpoint.scoreList)
                        console.log("scoreId", scoreId)


                this.getScores()
            },
            getAttendance: function (){
                axios.get(`/admin/allAttendance`)
                    .then(response=>{
                        this.attendances.push(response.data)
                    })

                console.log(this.attendances)
            },
            getScores: function (){
                axios.get(`/admin/allScores`)
                    .then(response=>{
                        // checkpoint.scoreList[scoreId] = response.data
                        this.scores.push(response.data)
                    })

                console.log("scores", this.scores)
            },
            findAttendanceByLessonAndStudent: function (lesson, student) {
                axios.post(`/admin/filterAttendance`,{
                    "studentId": student.id,
                    "lessonId": lesson.id
                })
                    .then(response=>{
                        let attendance = response.data
                        this.editAttendanceMark(attendance[0])
                    })
            },
            editAttendanceMark: function (attendance){
                axios.put(`/admin/attendance/${attendance.id}`,
                    {
                        "mark": this.attendance_mark
                    })
                    .then(response=>{
                        this.editStatusResponse = response.data
                        this.editStatus = this.editStatusResponse? 'Отметка успешно изменена':'Не удалось изменить отметку'
                    })
            },
            findScoreByLessonAndStudent: function (checkpoint, student) {
                axios.post(`/admin/filterScores`,{
                    "studentId": student.id,
                    "checkpointId": checkpoint.id
                })
                    .then(response=>{
                        let checkpoint = response.data
                        this.editScoreMark(checkpoint[0])
                    })
            },
            editScoreMark: function (checkpoint){
                axios.put(`/admin/score/${checkpoint.id}`,
                    {
                        "mark": this.score_mark
                    })
                    .then(response=>{
                        this.editStatusResponse = response.data
                        this.editStatus = this.editStatusResponse? 'Отметка успешно изменена':'Не удалось изменить отметку'
                    })
            },
            nullCheck: function (cat){
                if (cat === null || cat ===false) return ""
                else return cat
            },
            showStudent: function (personality) {
                location.href = `/admin/personalities/${personality}`
            }
        }
    })
</script>
</body>
</html>