<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>Admin Students Page</title>
</head>
<body>
<h1>Вы находитесь в окне администратора: Лекции и оцениваемые работы</h1>
<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">Назад</a>
    <a class="navbar-brand" href="/">Главная</a>
</nav>
<div id="app">

    <form v-on:submit.prevent="findEvents">
        <input type="number" v-model="id" name="id" placeholder="ID"/>
        <input type="text" v-model="name" name="name" placeholder="Название работы"/>
        <input type="number" v-model="subject_id" name="subjectId" placeholder="ID предмета"/>
        <input type="submit" class="btn btn-primary findEvents" value="Найти">
    </form>

    <table class="table table-bordered">
        <thead>
        <th scope="col">ID</th>
        <th scope="col">Название лекции</th>
        <th scope="col">ID предмета</th>
        <th scope="col"></th>
        </thead>
        <tbody>
        <tr v-for="lesson in this.lessons">
            <td>{{lesson.id}}</td>
            <td>{{lesson.name}}</td>
            <td>{{lesson.subject}}</td>
            <td>
                <form v-on:submit.prevent="showSubject(lesson)">
                    <input type="submit" class="btn btn-primary showSubject" value="Предмет">
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
        <th scope="col">ID</th>
        <th scope="col">Название работы</th>
        <th scope="col">ID предмета</th>
        <th scope="col"></th>
        </thead>
        <tbody>
        <tr v-for="checkpoint in this.checkpoints">
            <td>{{checkpoint.id}}</td>
            <td>{{checkpoint.name}}</td>
            <td>{{checkpoint.subject}}</td>
            <td>
                <form v-on:submit.prevent="showSubject(checkpoint)">
                    <input type="submit" class="btn btn-primary showSubject" value="Предмет">
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script>
    window.app = new Vue({
        el: '#app',
        data: {
            id: null,
            name: '',
            subject_id: null,
            lessons: [],
            checkpoints: []

        },
        async mounted(){
            await this.getEvents()
        },
        methods: {
            getEvents: function (event) {
                this.getLessons()
                this.getCheckpoints()
            },
            getLessons: function (event){
                axios.get('/admin/allLessons')
                    .then(response=>{
                        this.lessons = response.data
                        console.log(this.lessons)
                    })
            },
            getCheckpoints: function (event){
                axios.get('/admin/allCheckpoints')
                    .then(response=>{
                        this.checkpoints = response.data
                        console.log(this.checkpoints)
                    })
            },
            findEvents: function (event) {
                console.log(this.id)
                console.log(this.name)
                console.log(this.subject_id)

                this.findLessons()
                this.findCheckpoints()
            },
            findLessons: function (event) {
                axios.post('/admin/filterLessons',{
                    "id": this.id,
                    "name": this.name,
                    "subjectId": this.subject_id
                })
                    .then(response=>{
                        this.lessons = response.data
                    })
                console.log(this.lessons)
            },
            findCheckpoints: function (event) {
                axios.post('/admin/filterCheckpoints',{
                    "id": this.id,
                    "name": this.name,
                    "subjectId": this.subject_id
                })
                    .then(response=>{
                        this.checkpoints = response.data
                    })
                console.log(this.checkpoints)
            },
            nullCheck: function (cat){
                if (cat === null || cat ===false) return ""
                else return cat
            },
            showSubject: function (event) {
                location.href = `/admin/subjects/${event.subject}`
            },
        }
    })
</script>
</body>
</html>