<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>Admin Groups Page</title>
</head>
<body>
<h1>Вы находитесь в окне администратора: Группы</h1>
<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">Назад</a>
    <a class="navbar-brand" href="/">Главная</a>
</nav>
<div id="app">

    <h5 v-if="postStatusResponse != null">{{postStatus}}</h5>
    <form v-on:submit.prevent="addGroup">
        <input type="text" v-model="post_name" name="name" placeholder="Имя группы"/>
        <input type="submit" class="btn btn-primary addGroup" value="Создать">
    </form>

    <form v-on:submit.prevent="findGroups">
        <input type="number" v-model="id" name="id" placeholder="ID"/>
        <input type="text" v-model="name" name="name" placeholder="Имя группы"/>
        <input type="submit" class="btn btn-primary findGroups" value="Найти">
    </form>

    <table class="table table-bordered">
        <thead>
        <th scope="col">ID</th>
        <th scope="col">Имя группы</th>
        <th scope="col"></th>
        </thead>
        <tbody>
        <tr v-for="group in this.groups">
            <td>{{group.id}}</td>
            <td>{{group.name}}</td>
            <td>
                <form v-on:submit.prevent="showGroup(group)">
                    <input type="submit" class="btn btn-primary showGroup" value="Подробнее">
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script>
    window.app = new Vue({
        el: '#app',
        data: {
            id: null,
            post_name:'',
            name:'',
            deleted:'',
            groups: [],

            postStatus:'',
            postStatusResponse: null
        },
        async mounted(){
            await this.getGroups()
        },
        methods: {
            addGroup: function (){
                axios.post('/admin/addGroup',{
                    "name": this.post_name
                })
                    .then(response=>{
                        this.postStatusResponse = response.data
                        this.postStatus = this.postStatusResponse? 'Группа успешно добавлена':'Не удалось добавить группу'
                        // this.getGroups()
                    })
            },
            getGroups: function (event){
                axios.get('/admin/allGroups')
                    .then(response=>{
                        this.groups = response.data
                        console.log(this.groups)
                    })
            },
            findGroups: function (event) {
                axios.post('/admin/filterGroups',{
                    "id": this.id,
                    "name": this.name
                })
                    .then(response=>{
                        this.groups = response.data
                        console.log(this.groups)
                    })
            },
            nullCheck: function (cat){
                if (cat === null || cat ===false) return ""
                else return cat
            },
            showGroup: function (group) {
                location.href = `/admin/groups/${group.id}`
            }
        }
    })
</script>
</body>
</html>