<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headers"></th:block>
    <title>Admin Teachers Page</title>
</head>
<body>
<h1>Вы находитесь в окне администратора: Преподаватели</h1>
<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">Назад</a>
    <a class="navbar-brand" href="/">Главная</a>
</nav>
<div id="app">

    <form v-on:submit.prevent="findTeachers">
        <input type="number" v-model="id" name="id" placeholder="ID"/>
        <input type="number" v-model="personality_id" name="personalityId" placeholder="ID Личного дела"/>
        <input type="submit" class="btn btn-primary findTeachers" value="Найти">
    </form>

    <table class="table table-bordered">
        <thead>
        <th scope="col">ID</th>
        <th scope="col">ID Личного дела</th>
<!--        <th scope="col">ID предметов</th>-->
        <th scope="col"></th>
        </thead>
        <tbody>
        <tr v-for="teacher in this.teachers">
            <td>{{teacher.id}}</td>
            <td>{{teacher.personality}}</td>
<!--            <td v-for="subject in this.subjects">-->
<!--                {{subject}}-->
<!--            </td>-->
            <td>
                <form v-on:submit.prevent="showTeacher(teacher)">
                    <input type="submit" class="btn btn-primary showTeacher" value="Подробнее">
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script>
    window.app = new Vue({
        el: '#app',
        data: {
            id: null,
            personality_id: null,
            subject_id: null,
            teachers: []

        },
        async mounted(){
            await this.getTeachers()
        },
        methods: {
            getTeachers: function (event){
                axios.get('/admin/allTeachers')
                    .then(response=>{
                        this.teachers = response.data
                        console.log(this.teachers)
                    })
            },
            findTeachers: function (event) {
                console.log(this.id)
                console.log(this.personality_id)
                console.log(this.subject_id)
                axios.post('/admin/filterTeachers',{
                    "id": this.id,
                    "personalityId": this.personality_id
                })
                    .then(response=>{
                        this.teachers = response.data
                    })
            },
            nullCheck: function (cat){
                if (cat === null || cat ===false) return ""
                else return cat
            },
            showTeacher: function (teacher) {
                location.href = `/admin/personalities/${teacher.personality}`
            },
        }
    })
</script>
</body>
</html>