<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>Admin Page</title>
</head>
<body>
    <h1>Вы находитесь в окне администратора</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Главная</a>
        <a class="navbar-brand" href="/admin/users_panel">Пользователи</a>
        <a class="navbar-brand" href="admin/groups_panel">Группы</a>
        <a class="navbar-brand" href="/actuator">Actuator</a>
    </nav>
</body>
</html>