<!DOCTYPE HTML>
<head xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <th:block th:include="general.html :: headers"></th:block>
    <title>Home Page</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <div class="dashboard_rules" sec:authorize="!isAuthenticated()">
            <a class="navbar-brand" href="/login">Войти</a>
        </div>
        <div class="dashboard_rules" sec:authorize="isAuthenticated()">
            <a class="navbar-brand" href="/profile">Личный кабинет</a>
            <a class="navbar-brand" href="/teacher/subjects">Предметы</a>
            <a class="navbar-brand" href="/logout">Выйти</a>
        </div>
        <div class="dashboard_rules" sec:authorize="hasRole('ADMIN')">
            <a class="navbar-brand" href="/admin">Кабинет администратора</a>
        </div>
    </div>
</nav>
<div class="text-center">
    Вы находитесь на главной странице системы контроля успеваемости и посещаемости
</div>
</body>
</html>