<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
<!--    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">-->
</head>
<body>
    <div sec:authorize="isAuthenticated()">
        <script language="JavaScript">
            location.href = '/';
        </script>
    </div>
    <div class="text-center">
        <form method="POST" action="/login">
            <h2>Вход в систему</h2>
            <div>
                <label>
                    <input name="username" type="text" placeholder="Логин" autofocus="true"/>
                </label>
                <label>
                    <input name="password" type="password" placeholder="Пароль"/>
                </label>
                <button  class="btn btn-primary" type="submit" >Войти</button>
                <h4><a href="/sign_up">Зарегистрироваться</a></h4>
            </div>
        </form>
    </div>
</body>
</html>